﻿body {
    background-color: rgb(253, 253, 253);
}

.image {
    height: 150px;
    width: 200px;
    position: absolute;
}

.container {
    width: 200px;
    height: 100%;
    border: 0px solid black;
    position: absolute;
    top: 0%;
    right: 0%;
}

.mainTable {
    width: 90%;
    height: 90%;
}

.mainTable td { 
    height: 50%;
    width: 50%;

}
    
.innerDiv {
    vertical-align: text-top;
    height: 100%;
    overflow: auto;
    padding: 1%;
}

button {
    border-radius: 8px;
    background-color: rgb(194, 225, 255);
    border: 2px solid rgb(197, 195, 195);
    font-weight: bold;
    font-size: 1em;
    padding: 3px;
}